.chatSkeleton {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-bg-base);
  border-left: 1px solid var(--color-border);
  position: relative;
  overflow: hidden;

  .chatHeaderSkeleton {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: var(--color-bg-layout);
    border-bottom: 1px solid var(--color-border);

    span {
      font-size: 18px;
      font-weight: 500;
      color: var(--color-text-primary);
    }
  }

  .messagesViewportSkeleton {
    flex: 1;
  }
}
